.forms-container{
    width: 50%;
    height: 30rem;
    background: white;
    padding: 1rem;
    position: relative;
    border-radius: 2rem;

    
}

.form-logo{
    width: 100px;
    height: 100px;
    background: limegreen;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50% , -50% );
}